<h2 mat-dialog-title>Nuevo Personaje</h2>
<form [formGroup]="catalogForm" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Año de nacimiento</mat-label>
    <input matInput formControlName="birth_year" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Género</mat-label>
    <input matInput formControlName="gender" />
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="catalogForm.invalid">
    Crear personaje
  </button>
  <button mat-raised-button (click)="close()">Cerrar</button>
</form>
