@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Star Jedi";
  src: url("assets/fonts/Starjedi.ttf") format("truetype"); /* Ruta relativa a tu archivo de fuente */
  font-weight: normal;
  font-style: normal;
}


html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url("assets/img/stars-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  a,
  button {
    color: #bb86fc;
  }

  .mat-toolbar {
    background-color: #1f1f1f;
    color: #ffffff;
  }
}

$star-wars-font: "Star Jedi", sans-serif;

.star-text {
  font-family: $star-wars-font;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 232, 31);
}